body{
  margin: 0;
  overflow-y: hidden;
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
}

.sidebar{
  display: flex;
  flex-direction: column;
  flex: 0 0 300px;
  padding: 3rem 1.5rem;
  height: 100vh;
  box-sizing: border-box;
  background-color: #9e9e9e;
}

.sidebar .options {
  margin-bottom: 1rem;
}

.sidebar h3, h4 {
  flex: 1 0 100%;
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
}

.sidebar .radioBtn {
  display: flex;
}

.sidebar .radioBtn label {
  margin-left: 10px;
}

.sidebar .radioBtn .desc {
  font-size: 0.8em;
}

.sidebar #attrOpts{
  display:flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.sidebar select {
  width: 100%;
}

.outfitList {
  display: flex;
  flex: 1 1 80%;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100vh;
  overflow-y: auto;
  padding: 1rem;
  box-sizing: border-box;
}

.outfitList .status{
  flex: 1 0 100%;
  text-align: center;
  align-content: stretch;

}

.outfit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: calc(33% - 20px);
  min-width: 150px;
  height: auto;
  border: solid 1px #adadad;
  border-radius: 5px;
  padding: 1rem;
  margin: 10px;
}

.outfit hr {
  width: 100%;
  border: solid 0.5px #adadad;
  margin: 0.5em 0;
}

.outfit .attrList {
  display: flex;
  flex-direction: column;
}

.outfit * {
  margin-bottom: 2px;
}
