body{
  margin: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  justify-content: flex-end;
}

#sidebar{
  display: flex;
  border: 1px solid #9e9e9e;
  box-sizing: border-box;
  background-color: #9e9e9e;
}

.filter {
  position: relative;
}

.filterHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  width: 15rem;
  border-right: 1px solid #9e9e9e;
  font-size: 0.9rem;
  background-color: #fff;
}

.filterHeading p {
  display: inline-block;
  margin: 0;
  font-weight: bold;
  width: auto;
}

.filterMenu {
  position: absolute;
  left: 90%;
  display: flex;
  flex-direction: column;
  width: 15rem;
  padding: 1rem;
  box-sizing: border-box;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  font-size: 0.9rem;
}

.filterMenu ul {
  height: 10em;
  width: 100%;
  overflow-y: scroll;
  list-style-type: none;
  padding: 0;
}

.filterMenu li {
  display: flex;
  height: 1em;
  align-items: flex-end;
  margin: 0.7em 0;
}

.filterMenu li > span {
  display: inline-block;
  width: 1.5em;
}

.filterMenu li.selected > span::before {
  content: '✓'
}

/*#sidebar .options {
  margin-bottom: 1rem;
}

#sidebar .row {
  flex: 1 0 100%;
  margin-bottom: 1rem;
}

#sidebar .row * {
  display: inline;
}

#sidebar p {
  margin: 0;
  font-size: 1.4rem;
  font-weight: bold;
  padding-right: 0.5rem;
}

#sidebar .radioBtn {
  display: flex;
}

#sidebar .radioBtn label {
  margin-left: 10px;
}

#sidebar .radioBtn .desc {
  font-size: 0.8em;
}

#sidebar select {
  width: 100%;
}

#sidebar .clearFilter, .toggleOpt {
  display: inline;
}*/

#toggleSidebarBtn {
  padding: 1rem;
  position: fixed;
  align-self: flex-start;
  background-color: #9e9e9e;
  cursor: pointer;
  z-index: 999;
}

#toggleSidebarBtn::before {
  content: '>>';
}

/* from this tutorial: https://medium.com/@marcuslt/fluid-fly-out-sidebar-with-css3-flexbox-cb321b21f29 */
#sidebar.toggledOn ~ .pageContent {
  flex-basis: 0;
}

#sidebar.toggledOn ~ .pageContent #toggleSidebarBtn::before{
  content: '<<';
}

.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 100%;
  height: 100vh;
  overflow: auto;
}

.pageContent .status{
  text-align: center;
}

#outfitList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 1rem;
  max-width: calc(15rem * 5 + 10px * 10);
}

.outfitCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 10px;
  flex: 1 0 14rem;
  min-width: 14rem;
  height: auto;
  border: solid 1px #adadad;
  border-radius: 5px;
  padding: 1rem;
}

/* fix sizing issue in last row https://medium.com/developedbyjohn/equal-width-flex-items-a5ba1bfacb77 */
.outfit-placeholder {
  flex: 1 0 14rem; /* flex-basis should be same as .outfitCard */
  height: 0.5px;
  margin: 0 10px;
}

.outfitCard > p {
  margin: 0;
  text-align: center;
  font-size: 0.9rem;
}

.outfitCard * {
  margin-bottom: 2px;
}

.outfitCard hr {
  width: 100%;
  border: solid 0.5px #adadad;
  margin: 0.5em 0;
}

/* make sure outer div has a width to size child divs against */
.outfitCard .rowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  width: 100%;
}

.outfitCard .outfitImg {
  height: 100%;
}

.attrList {
  display: flex;
  height: auto;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.outfitCard .attr {
  width: 4rem;
  flex: 1;
  margin: 0;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #outfitList {
    padding: 0 0.5rem;
  }

  .outfitCard {
    margin: 5px;
    flex: 1 1 calc(50% - 10px);
    min-width: 1px;
    max-width: initial;
    height: auto;
    border: solid 1px #adadad;
    border-radius: 5px;
    padding: 0.8rem;
  }

  .outfitCard .rowContainer {
    flex-direction: column;
    height: auto;
  }

  .outfitCard .outfitImg {
    height: 8rem;
  }

  .outfitCard .attr {
    width: 4rem;
    flex: 1;
    margin: 0;
  }
} 






