body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /*overflow: hidden;*/
}

/* https://stackoverflow.com/questions/37112218/css3-100vh-not-constant-in-mobile-browser */
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: -moz-available;          /* WebKit-based browsers will ignore this. */
  min-height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  min-height: fill-available;
  color: #0F1959;
  font-size: 0.9rem;
}

#loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attrList {
  flex: 0 0 auto;
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  min-width: 8rem;
  font-size: 0.8rem;
  text-align: right;
}

.attr {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.1em 0;
  width: 100%;
}

.attr > * {
  margin: 0 0.25rem;
}

.icon {
  flex: 0 0 auto;
  display: inline-block;
  font-size: 0.9em;
  font-weight: bold;
  text-align:center;
  width: 1.7em;
  height: auto;
  padding: 0.1em;
  box-sizing: border-box;
  color: #fff;
  border-radius: 2px;
}

.attr .numberText {
  width: 1.8rem;
  flex: 0 0 auto;
}

.statusBarContainer {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  border: 0.5px solid #0F1959;
  border-radius: 2px;
  height: 0.8em;
  overflow: hidden;
}

.statusBar {
  display: inline-block;
  height: 100%;
  border-radius: 2px 0 0 2px;
}

.baseline {
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 100%;
  background-color: #0F1959;
}

.ac {
  background-color: #EB5145;
}

.pa {
  background-color: #E69C36;
}

.un {
  background-color: #E54B7D;
}

.sm {
  background-color: #469DDD;
}

.te {
  background-color: #2C5EE7;
}

.ch {
  background-color: #99D041;
}

.btn {
  border: 1px solid #0F1959;
  border-radius: 5px;
  padding: 0.5em 1em;
  box-sizing: border-box;
  background-color: #fff100;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  width: auto;
  height: auto;
  font-size: 0.8rem;
}

.btn:active {
  transform: scale(0.9)
}

.btn p {
  width: auto;
}

.imgPlaceholder {
  position: relative;
  color: #9e9e9e;
}

.imgPlaceholder div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index: 99;
}

.overlayContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  height: calc(100% - 2rem);
  width: calc(100% - 2rem);
  background-color: #fff;
  border-radius: 3px;
  border: solid 1px #0F1959;
  overflow: hidden;
  box-sizing: border-box;
}

#instructions .topContainer, #filterMenu .topContainer {
  overflow: auto;
}

#instructions .bottomContainer, #filterMenu .bottomContainer{
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 0;
  background-color: #fff;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
}

/* ------------------------------------TEAM BUILDER------------------------------------ */

#teamBuilder {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

#teamBuilder p {
  display: inline-block;
  margin: 0;
}

#topMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0.5em 1em;
  box-sizing: border-box;
  border-bottom: solid 2px #0F1959;
}

#topMenu > * {
  margin-left: 1em;
}

.btn.help {
  width: 2.5em;
  padding: 0.5em;
}

#instructions {
  box-sizing: border-box;
}

#instructions .topContainer {
  justify-content: center;
  flex: 1 1 auto;
}

#instructions .top {
  width: auto;
  height: auto;
  padding: 1rem;
  box-sizing: border-box;
}

#instructions hr {
  width: 100%;
  border: solid 0.5px #CBCFE4;
  margin-top: 1rem;
}

#instructions a {
  color: #0F1959;
}

#instructions img {
  width: 100%;
  height: auto;
  max-width: 30rem;
  margin: 0.5em;
}

#instructions .sharingHeading {
  display: flex;
  align-items: center;
}

#instructions .arrow {
  width: 0.9rem;
  margin: 0 0.5em;
}

#instructions li {
  margin: 0.5em 0;
}

#instructions p {
  margin: 0.5em 0;
  display: block;
}

.topContainer > p {
  font-size: 1rem;
}

/* ------------------------------------JOBVIEW------------------------------------ */

#jobView {
  width: 100%;
  height: auto;
  padding: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  max-width: 50rem;
}

#jobView .header {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1em;
  box-sizing: border-box;
  align-content: flex-start;
  width: 60%;
  background-color: #fff;
}

#jobView .title{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#jobView .header hr {
  width: 100%;
  border: solid 0.5px #CBCFE4;
  margin: 0;
  margin-bottom: 0.5em;
}

#jobView .statInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.statInfo img, .statInfo .imgPlaceholder {
  flex: 0 0 auto;
  width: 40%;
  height: auto;
}

.statInfo .imgPlaceholder {
  padding-bottom: 24.8%; /* 62% of .statInfo imgPlaceholder width*/
}

#jobView .imgPlaceholder div {
  border: solid 2px #CBCFE4;
  box-sizing: border-box;
}

#jobView .progressText {
  width: 3rem;
}

#jobView .attrList {
  width: 90%;
  max-width: 15rem;
}

#jobView .statInfo > .attrList {
  flex: 0 1 auto;
}

#jobView .workResult {
  flex: 0 1 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#progressBarContainer {
  width: 90%;
  position: relative;
  display: flex;
  border: 0.5px solid #0F1959;
  border-radius: 0.18rem;
  height: 1rem;
  background-color: white;
  overflow: hidden;
  margin-bottom: 0.5em;
}

#progressBarHide {
  position: absolute;
  display: inline-block;
  height: 100%;
  background-color: #fff;
  right: 0;
}

#progressBar {
  display: inline-block;
  height: 100%;
  border-radius: 2px 0 0 2px;
  background-image: linear-gradient(to left, #fff100 , #E9722D);
}

#jobView .status {
  font-weight: bold;
  text-align: center;
}

#jobList {
  position: absolute;
  display: flex;
  flex-direction: row;
  max-width: 50rem;
  background-color: #fff;
  font-size: 0.8rem;
  overflow: hidden;
}

#jobList > * {
  display: flex;
  flex-direction: row;
}

#jobList .left {
  flex: 1 1 55%;
}

#jobList .right {
  flex: 1 1 45%
}

#jobTabMenu {
  display: flex;
  flex-direction: column;
  width: 5rem;
  overflow-y: auto;
}

.jobTab {
  border-bottom: 0.5px solid #9e9e9e;
  padding: 1rem 0;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
}

.jobTab.selected {
  background-color: #fff100;
}

.jobTab p {
  text-align: center;
}

#jobSelect {
  flex: 0 1 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
  background-color: #ECF4F9;
}

.jobOpt {
  border: 1px solid #0F1959;
  border-radius: 5px;
  padding: 0.5rem;
  box-sizing: border-box;
  margin: 0.5rem 0;
  cursor: pointer;
  background-color: #fff;
}

.jobOpt.selected {
  background-color: #fff100;
}

#jobDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

#jobDetail > * {
  margin-bottom: 0.5rem;
}

#jobDetail img, #jobDetail .imgPlaceholder {
  width: 100%;
  height: auto;
}

#jobDetail .imgPlaceholder {
  padding-bottom: 62%;
}

#jobDetail p {
  font-weight: bold;
}

#jobDetail .jobDetailBtns {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row-reverse;
}

#jobDetail .jobDetailBtns > * {
  margin: 0 0.5em;
}

#jobDetail .closeJob {
  background-color: #fff;
}

/* ------------------------------------TEAMVIEW------------------------------------ */

#teamViewContainer {
  display: flex;
  height: 45%;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 1em;
  overflow-x: auto;
  background-image: linear-gradient(to right, #ECF4F9, #D1E2F3);
  border-bottom: solid 2px #0F1959;
}

#teamView {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: auto;
  box-sizing: border-box;
  font-size: 0.8rem;
  height: 100%;
  max-width: 75rem;
}

.teamMember {
  flex: 0 1 calc(20% - 1rem);
  max-width: 14rem;
  min-width: 8rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5rem;
  min-height: 10rem;
  cursor: pointer;
}

.teamMember .attrList {
  width: 100%;
}

.teamMember .attr {
  width: 55%;
  justify-content: flex-end;
}

.teamMember .statusBarContainer {
  flex: 1 0 calc(100% - 0.5rem);
}

.teamMember .imgContainer {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.teamMember img, .teamMember .imgPlaceholder {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.teamMember img {
  height: auto;
}

.teamMember .imgPlaceholder {
  height: 0;
  padding-bottom: 100%;
  box-sizing: border-box;
}

.teamMember.notMade img{
  opacity: 0.5;
}

.teamMember .shadow{
  position: absolute;
  top: 85%;
  left: 37%;
  border-radius: 50%;
  height: 10%;
  width: 26%;
  background-color: #BBBEBF;
}

.teamMember .platform {
  position: absolute;
  top: 83%;
  left: 22.5%;
  width: 55%;
}

/* ------------------------------------SIDEBAR------------------------------------ */

#sidebar{
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  width: 100%;
  height: 3.25rem;
  border-bottom: solid 1px #9e9e9e;
}

#sidebar .close, #sidebar .toggleFilter {
  display: flex;
  border: 1px solid #0F1959;
  border-radius: 2px;
  padding: 0.4em;
  background-color: #fff;
}

#sidebar .close img {
  width: 1em;
  height: 1em;
}

#sidebar .toggleFilter img {
  height: 1em;
  width: auto;
}

#sidebar #status {
  color: #555555;
}

#sidebar .right{
  display: flex;
  align-items: center;
}

#sidebar .right > *{
  margin-right: 1rem;
}

#sidebar .radioBtn {
  display: flex;
  align-items: center;
}

#sidebar .radioBtn label {
  margin-left: 0.4em;
}

#sidebar .radioBtn .desc {
  font-size: 0.8em;
}

#sortMenu {
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.8rem;
  align-items: flex-start;
  height: auto;
  width: fit-content;
}

.sortOpt {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  text-align: center;
  height: auto;
  border: none;
  padding: 0.5em;
}

.sortOpt * {
  margin: 0 0.25rem;  
}

.sortOpt .arrow {
  display: flex;
  align-items: center;
}

.sortOpt img {
  width: 100%;
  height: auto;
  margin: auto;
}

.sortOpt.active {
  background-color: #fff100;
}

#filterMenu {
  right: 0;
  top: 0;
  width: 25rem;
  max-width: 100%;
  height: auto;
  max-height: calc(100vh - 2rem);
  border-radius: 3px;
  border: solid 1px #0F1959;
  background-color: #fff;
  font-size: 1rem;
  z-index: 99;
}

#filterMenu .topContainer{
  width: 100%;
  flex-direction: column;
  padding: 0.25rem 0.5rem 0 0.5rem;
  box-sizing: border-box;
}

#filterMenu .topContainer > * {
  margin: 0.25rem 0;
}

#filterMenu h4 {
  color: #fff;
  background-color: #0F1959;
  padding: 0.2rem 0.5rem;
}

.filter {
  box-sizing: border-box;
  width: 100%;
}

.filter a {
  text-decoration: underline;
  font-size: 0.8rem;
}

.filterHeading {
  display: flex;
  justify-content: flex-start;
  padding: 0.25rem 0;
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
  width: auto;
}

.filterHeading > * {
  margin-right: 0.5rem;
}

.filterHeading img {
  width: 0.7rem;
  height: auto;
}

.filterHeading p {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  width: auto;
  font-weight: bold;
}

.filterHeading a {
  text-decoration: underline;
  font-size: 0.8rem;
}

.filterOptions {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  height: auto;
  font-size: 0.9rem;
}

.filterOptions ul {
  height: auto;
  max-height: 10em;
  width: 100%;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
  background-color: #ECF4F9;
}

.filterOptions li {
  display: flex;
  height: 2em;
  align-items: center;
  cursor: pointer;
}

.filterOptions li:hover {
  background-color: #d1d1d1;
}

.filterOptions li div {
  display: flex;
  height: 1em;
  align-items: flex-end;
  padding-left: 0.5em;
}

.filterOptions li span {
  display: inline-block;
  width: 1.5em;
}

.filterOptions li.selected span::before {
  content: '✓'
}

/*#sidebar .options {
  margin-bottom: 1rem;
}

#sidebar .row {
  flex: 1 0 100%;
  margin-bottom: 1rem;
}

#sidebar .row * {
  display: inline;
}

/*#toggleSidebarBtn {
  padding: 1rem;
  position: absolute;
  align-self: flex-start;
  background-color: #9e9e9e;
  cursor: pointer;
  z-index: 999;
}*/

/*#toggleSidebarBtn::before {
  content: '>>';
}*/

/* from this tutorial: https://medium.com/@marcuslt/fluid-fly-out-sidebar-with-css3-flexbox-cb321b21f29 */
/*#sidebar.toggledOn ~ #outfitView {
  flex-basis: 0;
}*/

/*#sidebar.toggledOn ~ #outfitView #toggleSidebarBtn::before{
  content: '<<';
}*/

/* ------------------------------------OUTFIT LIST------------------------------------ */

#outfitView {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  height: calc(100% - 3.25rem);
  overflow: auto;
  background-color: #ECF4F9;
}

#outfitList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 0.25rem;
  width: 100%; 
}

.outfitCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0.4rem;
  flex: 1 0 15.5rem;
  min-width: 15.5rem;
  height: auto;
  border: solid 1px #CBCFE4;
  border-radius: 5px;
  padding: 1rem 0;
  opacity: 1;
  background-color: #fff;
}

.outfitCard.notMade {
  background-color: rgba(0,0,0,0);
}

.outfitCard.notMade img{
  opacity: 0.5;
}

.outfitCard .inTeam {
  position: absolute;
  top: -0.2rem;
  left: 0.4rem;
  background-color: red;
  color: #fff;
  font-weight: bold;
  padding: 0.2rem;
}

.outfitCard .attrList {
  width: 5rem;
}

.outfitCard .right .bonus {
  margin-top: 0.5em;
}

/*.outfitCard { //for horizontal layout
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 10px;
  flex: 1 0 16rem;
  min-width: 16rem;
  height: auto;
  border: solid 1px #adadad;
  border-radius: 5px;
  padding: 1rem 1rem 1rem 0;
}*/

/* fix sizing issue in last row https://medium.com/developedbyjohn/equal-width-flex-items-a5ba1bfacb77 */
.outfit-placeholder {
  flex: 1 0 16rem; /* flex-basis should be same as .outfitCard */
  height: 0.5px;
  margin: 0 10px;
}

.outfitCard p {
  margin: 0;
  text-align: center;
  font-size: 0.9rem;
}

.outfitCard hr {
  width: calc(100% - 2rem);
  border: solid 0.5px #CBCFE4;
  margin: 0.3rem 0;
}

/* make sure outer div has a width to size child divs against */
/*.outfitCard .rowContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  flex: 1 1 auto;
  min-width: 9rem;
}*/

.outfitCard .rowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.outfitCard img, .outfitCard .imgPlaceholder {
  height: 7rem;
  width: 7rem;
  margin-bottom: 0.3rem;
}

/* Special case for sidebar */
@media (min-width: 640px) {
  .hideOnLandscape {
    display: none;
  }
  
  #sortMenu:not(.hideOnLandscape) {
    display: flex;
  }
}

@media (max-width: 639px) {
  .hideOnPortraitSmall {
    display: none;
  }
  
  #sortMenu:not(.hideOnPortraitSmall ) {
    display: flex;
  }
}


/* All devices (portrait) */
@media (orientation: portrait) {

  #jobView {
    flex-direction: column-reverse;
    max-width: 30rem;
  }

  #jobView .header {
    width: 100%;
  }

  #jobView .workResult {
    margin: 1rem;
  }

  #jobList {
    flex-direction: column-reverse;
  }

  #jobList .top {
    height: 45%;
    flex: 1 0 auto;
  }

  #jobList .bottom {
    height: 55%;
    flex: 1 0 auto;
  }

  #jobDetail {
    padding: 0.5rem 0;
  }

  #jobDetail img {
    height: 50%;
    width: auto;
  }
  
  #jobDetail .imgPlaceholder {
    width: 0;
    padding-bottom: 0;
    height: 50%;
    padding-left: 62%;
  }
  
  #jobDetail .imgPlaceholder p {
    left: 0;
    width: 100%;
    text-align: center;
  }
}

/* All smartphones */
@media (max-width : 812px) { 
  .overlay {
    padding: 0;
  }
  
  .overlayContent {
    height: 100%;
    width: 100%;
    border-radius: 0;
    border: none;
  }

  #filterMenu {
    max-height: 100vh;
  }

  #outfitList {
    padding: 0 0.5rem;
  }

  .teamMember {
    min-width: 6rem;
  }

}

/* Smartphones (landscape) */
@media (orientation: landscape) and (max-width : 812px) {

  #topMenu .btn {
    font-size: 0.7rem;
    padding: 0.5em 0.5em;
  }
  
  #topMenu > * {
    margin-left: 0.5em;
  }

  #teamView {
    width: 100%;
  }

}

/* Smartphones (portrait) */
@media (orientation: portrait) and (max-width : 400px) {

  #jobView .header {
    font-size: 0.8rem;
  }

  #jobView .title .btn{
    font-size: 0.7rem;
  }

  #jobList {
    max-width: initial;
  }

  /*.outfitCard {
    margin: 5px;
    flex: 1 1 calc(50% - 10px);
    min-width: 1px;
    max-width: initial;
    height: auto;
    border: solid 1px #adadad;
    border-radius: 5px;
    padding: 0.8rem 0;
  }

  .outfitCard hr {
    width: calc(100% - 1.6rem);
    border: solid 0.5px #adadad;
    margin: 0.3rem 0;
  }

  .outfitCard .rowContainer {
    flex-direction: column;
    height: auto;
  }

  .outfitCard .outfitImg {
    height: 8rem;
  }*/

  
} 






